/* Created by khangtd */
.forking-action img{
    width: 50px;
    height: auto;
}
.about-action {
    margin-top: 20px;
}
.about-action button:first-child {
    /*margin-right:20px;*/
}
.about-form-wrapper{
    padding-top: 20px;
    padding-bottom: 20px
}
.date-wrapper{
    margin-top: 30px;
    margin-bottom: 30px;
}
/*.about-form-content {
    padding: 0.8rem;
}*/
.day-performance > span > span {
    padding: 3px;
}

.day-performance{
    padding-right: 0.8rem;
}

.performance-trending-btn {
    padding-right: 0.8rem;
    margin-top: 1.8rem;
}

.analysis-wrapper {
    padding-top: 30px;
}

.select-title {
    margin-right: 30px;
}

.select-year-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px
}

.label.outline {
    border: 1px solid #4caf50;
    color: #4caf50!important;
    background: transparent!important;
}

.trend-wrapper {
    padding-top: 30px;
}

.chart-wrapper {
    padding: 10px;
}
.analysis-wrapper .chart-wrapper {
    padding: 10px;
    padding-top: 0px;
}
.analysis-wrapper .chart-wrapper{
    margin-bottom: 30px
}
.performance-wrapper {
    margin-top: 30px;
}

.date-fiper-wrapper {
    margin: 50px 0;
}

.card-title {
    overflow: auto
}

#add-fiper {
    visibility: visible;
    opacity: 1;
    -webkit-transition: all 0.7s ease-out;
    /* Safari */
    transition: all 0.7s ease-out;
}

#add-fiper.bottom-scrolled {
    visibility: hidden;
    opacity: 0;
}

.fiper-logo-wrapper > .button.small.fiper-logo {
    width: 50px;
    height: 50px;
    cursor: pointer
}

.fiper-root-type {
    float: right;
    margin-bottom: 10px
}

.fiper-extra-info div {
    /*padding: 0 20px!important;*/
    margin: 5px 15px;
}

.card {
    margin-top: 20px;
    margin-bottom: 0px;
    word-wrap: break-word;
    /*background: #fbfbfb;*/
}

.fiper-action {
    margin-right: 10px;
}

.fiper-action button {
    margin: 5px;
}

.add-fiper > div.layout-header {
    background: #4caf50;
}

.result-not-found {
    color: rgba(51, 51, 51, 0.6);
    text-align: center;
    font-size: 25px
}

div.category-logo > img {
    width: auto;
    height: 40px;
}

div.category-wrapper div.category {
    /*padding: 10px;*/
    cursor: pointer;
}

div.category-wrapper div.category > img {
    width: auto;
}

.add-new-fiper .layout-header {
    background: #4caf50!important;
}

.add-new-fiper div.disabled {
    border-bottom-style: solid!important;
}

.add-new-fiper .disabled,
.add-new-fiper [disabled],
.add-new-fiper .disabled *,
.add-new-fiper [disabled] * {
    cursor: pointer!important;
}

.add-new-fiper > div {
    /*margin-bottom: 20px!important*/
}

span.error-message {
    color: #f57f6c;
    font-size: 13px;
}

.auth-form button {
    margin: 40px 5px;
}

.auth-form button.outline {
    color: white;
}

.auth-form span.greeting {
    width: auto;
    height: 50px;
    margin-left: 0px;
    background: transparent;
    border: solid 1px;
}

.auth-form {
    color: white!important;
}

.auth-form label,
.auth-form input {
    color: white!important;
}

.auth-form label {
    font-size: 13px;
}

div.fluid-wrapper {
    width: 100%;
    height: 100%;
    background: green;
    position: absolute;
}

.btn-primary {
    margin: 20px;
}
